@import "vars";
nav {
    position: fixed;
    z-index: 10;
    height: 4vh;
    padding: 1%;
    display: flex;
    flex-direction: column;
    @media (orientation: portrait) {
        bottom: 0;
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
        height: $mobile-nav-height;
    }
    a {
        margin-bottom: 200%;
        position: relative;
        height: 100%;
        transition: background-color, border-bottom-color;
        transition-duration: 0.3s;
        @media (orientation: portrait) {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            padding-top: 2vh;
            margin-top: -2vh;
            filter: drop-shadow(0 0 6px black)
        }
        svg {
            display: block;
            color: $light-gray;
            height: 100%;
            g:not(:first-child) {
                display: none;
            }
        }
        &:hover>svg svg {
            color: $e-light-gray;
        }
    }
}