@import "vars";
* {
    text-decoration: none;
}

#projects {
    position: relative;
    font-weight: 100;
    align-content: center;
    margin-top: 20px;
    width: 80vw;
    @media (orientation: portrait) {
        width: 95vw;
        padding-bottom: $mobile-nav-height;
    }
    margin: auto;
    h3 {
        width: 100%;
        position: relative;
        padding-top: 1em;
        font-size: 75%;
        font-weight: 700;
        color: $raspberry;
    }
    #gallery {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .project-title {
            margin: 0;
            padding: 0;
            text-align: left;
            font-weight: 700;
            font-size: 50%;
            color: $v-light-gray;
            transition: color 0.2s;
        }
        .project-tile {
            .exlink-arrow {
                position: absolute;
                right: 0;
                height: 100%;
                color: $gray;
                transition: color 0.2s, transform 0.2s;
                @media (orientation: portrait) {
                    color: $light-gray;
                }
            }
            @media (orientation: landscape) {
                .card:not(.project-tile-github) {
                    display: flex;
                    flex-direction: column;
                    background-color: $dark-gray;
                    border-radius: $border-rad;
                    padding: 2.5%;
                    height: 4em;
                    transition: margin 0.1s, background-color 0.5s;
                    color: $v-light-gray;
                    cursor: pointer;
                    a p {
                        color: $light-gray;
                    }
                    &:hover {
                        background-color: $gray;
                        margin-top: -1%;
                        margin-bottom: 1%;
                        .exlink-arrow {
                            color: $raspberry;
                            transform: scale(1.1);
                        }
                        &~.project-tile-github {
                            margin-top: calc(-1.2em - 1%);
                        }
                    }
                }
            }
            @media (orientation: portrait) {
                .card:not(.project-tile-github) {
                    display: flex;
                    flex-direction: column;
                    background-color: $gray;
                    border-radius: $border-rad;
                    padding: 2.5%;
                    height: 3em;
                    transition: margin 0.1s, background-color 0.5s;
                    color: $v-light-gray;
                    a p {
                        color: $light-gray;
                    }
                }
                .project-tile-github {
                    margin: 1% 0;
                    background-color: $raspberry;
                    color: $gray;
                    border-radius: $border-rad;
                    display: flex;
                    height: 1em;
                    display: flex !important;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    p {
                        font-weight: 700;
                        margin-left: 10%;
                        flex-grow: 1;
                        text-align: center;
                    }
                    svg {
                        width: 10%;
                    }
                }
            }
            @media (orientation: landscape) {
                .project-tile-github {
                    position: absolute;
                    margin-top: -1.3em;
                    margin-left: calc(46% - 1em);
                    background-color: $medium-gray;
                    border-radius: 1000px;
                    color: $light-gray;
                    padding: 0.1em;
                    height: 1em;
                    width: 1em;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    overflow: hidden;
                    transition: margin-left 0.5s, width 0.5s, color 0.3s, background-color 0.3s, margin-top 0.1s;
                    &:hover {
                        transition: margin-left 0.5s, width 0.5s, color 0.3s, background-color 0.3s, margin-top 0.1s;
                        background-color: $raspberry;
                        color: $gray;
                        width: 44.5%;
                        margin-left: 1.5%;
                        svg {
                            transition: background-color 0.3s;
                            background-color: $raspberry;
                        }
                        p {
                            color: $dark-gray;
                        }
                    }
                    svg {
                        transition: background-color 0.3s;
                        z-index: 1;
                        border-radius: 1000px;
                        background-color: $medium-gray;
                        justify-self: center;
                    }
                    p {
                        height: 1em;
                        position: absolute;
                        left: 0;
                        margin: 0;
                        height: 100%;
                        padding: 0 1ch;
                        color: $medium-gray;
                        z-index: 0;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        align-self: center;
                        font-size: 20pt;
                    }
                }
            }
            width: 48%;
            @media (orientation: portrait) {
                width: 100%;
            }
            margin-right: 2%;
            margin-bottom: 2%;
            img {
                display: none;
            }
            p {
                font-size: 50%;
            }
            .tags {
                display: flex;
                flex-wrap: wrap;
                .tag {
                    @media (orientation: portrait) {
                        height: 1em;
                        padding: 2.5%;
                        margin-bottom: 3%;
                    }
                    font-size: 40%;
                    background-color: $raspberry;
                    padding: 1% 2%;
                    margin: 1% 1.5% 1% 0;
                    color: $v-dark-gray;
                    font-weight: 500;
                    border-radius: 1000px;
                    transition: transform 0.2s,
                    background-color 0.2s;
                    &:not(.disabled) {
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.05);
                            background-color: $raspberry-light;
                        }
                    }
                }
            }
        }
    }
}