$raspberry-light: #dd3b63;
$raspberry: #d12c55;
$raspberry-dark: #ad2547;
$raspberry-clear: rgba(209, 44, 85, 0);
$v-dark-gray: #080808;
$dark-gray: #111;
$gray: #181818;
$medium-gray: #222;
$light-gray: #555;
$v-light-gray: #AAA;
$m-dark-gray: #0C0C0C;
$e-light-gray: #CCC;
$mobile-nav-height: 6vh;
$border-rad: Min(2vh, 2vw);